supabase:
  uri: ${SUPABASE_URL:https://your-supabase-project.supabase.co}
  anon-key: ${SUPABASE_ANON_KEY:your_anon_key}
  jwt:
    issuer-uri: ${SUPABASE_URL/}auth/v1

spring:
  application:
    name: secretaria-digital-backend
    datasource:
        url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
        username: ${DB_USER:your_username}
        password: ${DB_PASSWORD:your_password}
        driver-class-name: org.postgresql.Driver
    security:
      oauth2:
        resourceserver:
          jwt:
            issuer-uri: ${supabase.jwt.issuer-uri}