spring:
  application:
    name: secretaria-digital-backend
    datasource:
        url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
        username: ${DB_USER:your_username}
        password: ${DB_PASSWORD:your_password}
        driver-class-name: org.postgresql.Driver